@media only screen and (max-width: 1024px) {
    * {
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
        scroll-behavior: smooth;
    }

    .bold {
        font-weight: bold;
    }

    .center {
        text-align: center;
    }

    .text {
        font-size: 5vw;
    }

    .aText {
        font-size: 6.5vw;
    }

    textarea {
        resize: none;
    }

    /* header */
    #header {
        position: fixed;
        width: 97%;
        background-color: #ffffff;
        top: 0;
        z-index: 9999;
        display: flex;
        -webkit-box-shadow: 0 5px 7px -7px #808080;
        -moz-box-shadow: 0 5px 7px -7px #808080;
        box-shadow: 0 5px 7px -7px #808080;
    }

    #header img {
        margin-left: 1%;
        margin-top: 1.5%;
        margin-bottom: 2%;
    }

    #header svg {
        margin: 3% 3% 2% auto;
    }

    /* group company */
    #groupCompLink {
        margin-top: 12%;
        border: 1px solid transparent;
    }

    #groupComp {
        margin-top: 20%;
    }

    #parentComp img {
        width: 50vw;
    }

    #line {
        position: relative;
        border-bottom: 3.5px solid #14a2cc;
        margin-top: 10%;
        width: 50vw;
        left: 50%;
        transform: translate(-50%);
    }

    #subComp {
        margin-top: 12%;
    }

    .underline .ul {
        position: relative;
        display: inline-block;
    }

    .underline .ul:after {
        content: "";
        height: 2px;
        width: 65%;
        position: absolute;
        background-color: #14a2cc;
        left: 50%;
        transform: translate(-50%);
        top: 1.4em;
    }

    .underline .space:after {
        top: 1.6em;
    }

    #subCompLogo {
        margin-top: 12%;
    }

    #upperSubComp {
        display: flex;
    }

    #labLogo, #saiShivLogo, #ssdLogo {
        flex: 33%;
    }

    #labLogo img, #ssdLogo img {
        margin-top: 10%;
    }

    #lowerSubComp {
        display: flex;
        margin-top: 12%;
    }

    #mangalyaLogo, #snowWorldLogo {
        flex: 50%;
    }

    #mangalyaLogo img {
        margin-left: 15%;
    }

    #snowWorldLogo img {
        margin-top: 5%;
        margin-right: 8%;
    }

    /* about us */
    #aboutUsLink, #communityLink {
        margin-top: 18%;
        border: 1px solid transparent;
    }

    #aboutUs, #community {
        margin-top: 14%;
    }

    #aboutUsLogo, #communityLogo {
        margin-top: 8%;
    }

    #aboutUsLogo img {
        width: 70vw;
    }

    #communityLogo img {
        width: 55vw;
    }

    #aboutUsText, #communityText {
        margin-top: 10%;
        margin-right: auto;
        margin-left: auto;
        width: 75%;
    }

    #aboutUsText p, #communityText p {
        color: #808080;
        line-height: 1.5;
    }

    /* company boxes */
    .compBoxCont {
        display: flex;
        margin-top: 14%;
    }

    .compBox {
        flex: 50%;
        height: 33vw;
        border-radius: 15px;
        width: auto;
        box-shadow: 0 2px 6px #B9D9EB;
    }

    .firstCompBox {
        margin-left: 5%;
        margin-right: 2.5%;

    }

    .secondCompBox {
        margin-right: 5%;
        margin-left: 2.5%;
    }

    .compBox img {
        margin-top: 20%;
        cursor: pointer;
    }

    #ssdCont {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-top: 14%;
        border-radius: 15px;
        height: 33vw;
        margin-left: 5%;
        width: 42.5%;
        box-shadow: 0 2px 6px #B9D9EB;
    }

    #ssdCont img {
        margin-top: 15%;
        cursor: pointer;
    }

    /* get in touch */
    #contactFormLink {
        margin-top: 22%;
        border: 1px solid transparent;
    }

    #contactForm {
        margin-top: 15%;
    }

    #queryForm {
        margin-top: 8%;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    #queryForm input, #queryForm textarea {
        border-radius: 25px;
        line-height: 2.5em;
    }

    #queryForm textarea {
        line-height: 2em;
    }

    .half {
        width: 46.5%;
    }

    .full {
        width: 98.5%;
    }

    #formBtn {
        text-align: center;
        padding: 1.5% 5.5%;
        font-size: 1em;
        background-color: #89CFF0;
        border-radius: 8px;
        border-color: #F0F8FF;
        outline: none;
    }

    .inpField {
        border: none;
        outline: none;
        box-shadow: 0 3px 5px #89CFF0;
    }

    .inpField::placeholder {
        color: #9c9c9c;
        font-size: 0.9em;
    }

    /* contact us */
    #contactImg {
        margin-top: 20%;
    }

    #contactImg img {
        width: 75vw;
    }

    #contactInfoLink {
        margin-top: 18%;
        border: 1px solid transparent;
    }

    #contactInfo {
        margin-top: 10%;
    }

    a {
        text-decoration: none;
        color: #161617;
    }

    .icon {
        display: flex;
        align-items: center;
    }

    #contactText {
        margin-top: 10%;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
    }

    /* google maps */
    #maps {
        margin-top: 25%;
        margin-bottom: -1%;
    }

    #maps iframe {
        border: none;
        width: 100%;
        height: 60vw;
    }

    /* footer information */
    #footerContactUs {
        border: 3px solid transparent;
        position: relative;
        bottom: 0;
        width: 100%;
        height: 40px;
        background-color: #f5f5f5;
        padding-right: 14px;
        z-index: 9999;
    }

    #footerContactUs p {
        border: 2px solid transparent;
        color: #8f8f8f;
        text-align: center;
        width: 100%;
        font-size: 0.7em;
    }

    /* close button */
    .close {
        position: absolute;
        left: -20%;
        top: 2%;
        cursor: pointer;
        height: 32px;
        width: 32px;
        opacity: 1;
    }

    .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 3px;
        background-color: #0d6e8e;
    }
    .close:before {
        transform: rotate(45deg);
    }
    .close:after {
        transform: rotate(-45deg);
    }

    /* side bar */
    #sidebar {
        position: fixed;
        z-index: 99999;
        right: -100%;
        top: 0;
        background-color: #BCECFB;
        width: 0;
        height: 100vh;
        transition: 0.8s;
        border: 2px solid transparent;
    }

    .sidebarLinks {
        font-size: 1.5em;
        margin-left: 6%;
        margin-top: 15%;
    }

    #container {
        transition: 0.8s;
    }

}