@media only screen and (min-width: 1025px) {
    * {
        font-family: "Montserrat", sans-serif;
        box-sizing: border-box;
    }

    #largeContainer {
        display: block;
    }

    #smallContainer {
        display: none;
    }

    html {
        scroll-behavior: smooth;
    }


    .bold {
        font-weight: bold;
    }

    p {
        line-height: 1.6;
    }

    #container {
        transition: 0.3s;
    }


    /* navigation bar */
    #navbar {
        display: flex; /* to divide icon and links into left and right */
        border-bottom: 5px solid #f5f5f5; /* to make bottom underline */
        z-index: 9999;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #ffffff;
    }

    #links {
        margin-left: auto; /* making links on the left */
        color: #161617;
    }

    #links li:last-child {
        margin-right: 2vw;
    }

    #links li {
        display: inline-block;
        list-style-type: none;
        margin-right: 6vw;
    }

    li a {
        font-size: 1.2em;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    #links li a:hover, #links li .active {
        position: relative;
        color: #161617;
    }

    #links li a:hover::after, #links li .active::after {
        content: "";
        height: 2px;
        width: 75%;
        background-color: #0e8baf;
        position: absolute;
        top: 1.5em;
        left: 50%;
        transform: translate(-50%);
    }


   /* body */
   #main {
       display: flex;
       margin-top: 14%;
   }

   #parentComp {
       margin-left: 1%;
       flex: 8%;
   }

   #line {
       flex: 1%;
       height: 250px;
       border-left: 3px solid #14a2cc;
       margin-left: 100px;
       margin-top: 90px;
   }

   #subComp {
       flex: 65%;
       width: 50%;
   }

   .text {
       font-size: 30px;
   }

   .center {
       text-align: center;
       text-align: -moz-center;
       text-align: -webkit-center;
   }

   .underline .ul {
        display: inline-block;
        position: relative;
   }

   .underline .ul:after {
        content: "";
        height: 2px;
        width: 60%;
        background-color: #14a2cc;
        position: absolute;
        top: 1.7em;
        left: 50%;
        transform: translate(-50%);
    }

   .underline .space:after {
       top: 2.2em;
   }

   #subCompCont {
       margin-right: 10%;
       margin-left: 10%;
       margin-top: 4%;
   }

   .item {
       margin-right: 15%;
       margin-left: 5%;
   }


    /* previous styling before slideshow
    #subCompCont {
        margin-top: 1%;
    }

    #lowerSubComp {
        margin-top: 4%;
    }

    #upperSubComp, #lowerSubComp {
        text-align: center;
        text-align: -webkit-center;
        text-align: -moz-center;
    }

    #upperSubComp a img, #lowerSubComp a img {
        margin-right: 4%;
        margin-left: 4%;
    }
    */

    /* About Us */
    #aboutUsLink {
        margin-top: 15%;
        border: 1px solid transparent;
    }

    #aboutUS {
        margin-top: 4%;
        display: flex;
    }

    #aboutUsImg {
        margin-top: 8.5%;
        margin-left: 1%;
        flex: 25%;
    }

    #aboutUsCont {
        flex: 75%;
        margin-left: 2%;
        margin-right: 2%;
    }

    #aboutUsText {
        font-size: 1em;
        margin-top: 2%;
        margin-right: 8%;
        margin-left: 8%;
    }

    #aboutUsText p {
        color: #808080;
    }


    /* contact us */
    #contactUs {
        border: 1px solid transparent;
        margin-top: 15%;
    }

    .cText {
        font-size: 18px;
    }

    textarea {
        resize: none;
    }

    #contactCont {
        display: flex;
        margin-top: 5%;
    }

    #contactInfo {
        flex: 25%;
        margin-left: 3%;
    }

    #contactImg {
        flex: 30%;
    }

    #contactImg img {
        height: 23vw;
        width: 30vw;
    }

    #contactForm {
        flex: 28%;
        margin-left: 4%;
        margin-right: 2%;
    }

    .icon {
        display: flex;
        align-items: center;
    }

    #queryForm {
        margin-top: 4%;
    }

    #queryForm input, #queryForm textarea {
        border-radius: 8px;
        line-height: 2.5em;
    }

    #queryForm textarea {
        line-height: 2em;
    }

    .half {
        width: 47%;
    }

    .full {
        width: 97.9%;
    }

    #getHead {
        margin-top: 4%;
    }

    #formBtn {
        text-align: center;
        padding: 1.5% 5.5%;
        font-size: 1em;
        background-color: #89CFF0;
        border-radius: 8px;
        border-color: #F0F8FF;
        outline: none;
    }

    .inpField {
        border: none;
        outline: none;
        box-shadow: 0 3px 5px #89CFF0;
    }

    .inpField::placeholder {
        color: #9c9c9c;
        font-size: 1em;
    }


    /* maps */
    #maps {
        margin-top: 2%;
        margin-bottom: 3.2%
    }

    #maps iframe {
        width: 100%;
        height: 60vh;
        border: none;
    }


    /* footer */
    #footerContactUs {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: #f5f5f5;
        padding-right: 14px;
    }

    #footerContactUs p {
        color: #8f8f8f;
        text-align: center;
        width: 100%;
        font-size: 1.1em;
    }


    /* community */
    #communityLink {
        margin-top: 14%;
        border: 1px solid transparent;
    }

    #community {
        margin-top: 3%;
    }

    .textColor {
        color: #808080;
}

    #compAboutOne {
        margin-top: 3.5%;
    }

    .compAbout {
        display: flex;
        margin-top: 8%;
        margin-left: 5%;
        margin-right: 4%;
    }

    .compAbout a {
        color: #6699CC;
    }

    .compAbout a:hover {
        color: #0066b2;
    }

    .oddText {
        margin-left: 5%;
    }

    .even {
        display: flex;
        flex-direction: row-reverse;
    }

    .evenText {
        margin-right: 5%;
    }

    .evenImg {
        margin-right: 3%;
    }

    .evenText > div:first-child {
        display: flex;
    }

    .evenText > div:first-child p {
        margin-left: auto;
    }



    /* community images */
    #sssd {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10%;
    }

    #mang {
        margin-top: 30%;
    }

    #sw {
        margin-top: 50%;

    }

    #lab {
        margin-top: 55%;
    }

    #ssd {
        margin-top: 65%;
    }

    /* gallery */
    #gallery {
        user-select: none;
        margin-top: 14%;
        border: 1px solid transparent;
    }

    #galleryCont {
        margin-top: 3%;
    }

    .subcomp {
        margin-top: 2%;
        margin-left: 8%;
    }

    .projects {
        margin-left: 8%;
        user-select: none;
    }

    .projects img {
        border: 3px solid #89CFF0;
        border-radius: 25px;
        padding: 1px;
    }

    .projects p {
        display: inline;
    }



    .images {
        position: fixed;
        top: 6.5%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .eimages {
        position: fixed;
        top: 4%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .fade img {
        border-radius: 25px;
    }


    .gallSpace {
        margin-top: 3%;
    }


    .gallUp {
        display: block;
        position: absolute;
        bottom: -11%;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
    }

    .egallUp {
        display: block;
        position: absolute;
        bottom: -10%;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        width: auto;
        color: #8f8f8f;
        padding: 16px;
        font-weight: bold;
        font-size: 35px;
        transition: 0.6s ease;
        user-select: none;
        top: 45%;
    }

    .next {
        right: -8%;
        padding-left: 23px;
    }

    .prev {
        left: -8%;
        padding-right: 23px;
    }

    .prev:hover, .next:hover {
        color: #161617;
        border-radius: 10px;
    }

    .hide {
        display: none;
    }

    .itext {
        font-size: 1.5em;
    }

    /* fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.0s;
    }

    @-webkit-keyframes fade {
        from {opacity: .6}
        to {opacity: 1}
    }

    @keyframes fade {
        from {opacity: .6}
        to {opacity: 1}
    }



    /* close */
    .close {
        position: absolute;
        right: -6%;
        top: -4%;
        width: 32px;
        height: 32px;
        opacity: 0.3;
    }
    .close:hover {
        opacity: 1;
    }
    .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }
    .close:before {
        transform: rotate(45deg);
    }
    .close:after {
        transform: rotate(-45deg);
    }


    /* text inside image */
    .imgText {
        position: relative
    }

    .imgTextW {
        position: absolute;
        font-weight: bold;
        color: #808080;
    }

}



/* for small screen devices */
@media only screen and (max-width: 1024px) {
    * {
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
        scroll-behavior: smooth;
    }

    #smallContainer {
        display: block;
    }

    #largeContainer {
        display: none;
    }

    .bold {
        font-weight: bold;
    }

    .center {
        text-align: center;
    }

    .text {
        font-size: 5vw;
    }

    .aText {
        font-size: 6.5vw;
    }

    textarea {
        resize: none;
    }

    /* header */
    #mheader {
        position: fixed;
        width: 97%;
        background-color: #ffffff;
        top: 0;
        z-index: 9999;
        display: flex;
        -webkit-box-shadow: 0 5px 7px -7px #808080;
        -moz-box-shadow: 0 5px 7px -7px #808080;
        box-shadow: 0 5px 7px -7px #808080;
    }

    #mheader img {
        margin-left: 1%;
        margin-top: 1.5%;
        margin-bottom: 2%;
    }

    #mheader svg {
        margin: 3% 3% 2% auto;
    }

    /* group company */
    #mgroupCompLink {
        margin-top: 12%;
        border: 1px solid transparent;
    }

    #mgroupComp {
        margin-top: 20%;
    }

    #mparentComp img {
        width: 50vw;
    }

    #mline {
        position: relative;
        border-bottom: 3.5px solid #14a2cc;
        margin-top: 10%;
        width: 50vw;
        left: 50%;
        transform: translate(-50%);
    }

    #msubComp {
        margin-top: 12%;
    }

    .underline .ul {
        position: relative;
        display: inline-block;
    }

    .underline .ul:after {
        content: "";
        height: 2px;
        width: 65%;
        position: absolute;
        background-color: #14a2cc;
        left: 50%;
        transform: translate(-50%);
        top: 1.4em;
    }

    .underline .space:after {
        top: 1.6em;
    }

    #msubCompLogo {
        margin-top: 12%;
    }

    #mupperSubComp {
        display: flex;
    }

    #mlabLogo, #msaiShivLogo, #mssdLogo {
        flex: 33%;
    }

    #mlabLogo img, #mssdLogo img {
        margin-top: 10%;
    }

    #mlowerSubComp {
        display: flex;
        margin-top: 12%;
    }

    #mmangalyaLogo, #msnowWorldLogo {
        flex: 50%;
    }

    #mmangalyaLogo img {
        margin-left: 15%;
    }

    #msnowWorldLogo img {
        margin-top: 5%;
        margin-right: 8%;
    }

    /* about us */
    #maboutUsLink, #mcommunityLink {
        margin-top: 18%;
        border: 1px solid transparent;
    }

    #maboutUs, #mcommunity {
        margin-top: 14%;
    }

    #maboutUsLogo, #mcommunityLogo {
        margin-top: 8%;
    }

    #maboutUsLogo img {
        width: 70vw;
    }

    #mcommunityLogo img {
        width: 55vw;
    }

    #maboutUsText, #mcommunityText {
        margin-top: 10%;
        margin-right: auto;
        margin-left: auto;
        width: 75%;
    }

    #maboutUsText p, #mcommunityText p {
        color: #808080;
        line-height: 1.5;
    }

    /* company boxes */
    .compBoxCont {
        display: flex;
        margin-top: 14%;
    }

    .compBox {
        flex: 50%;
        height: 33vw;
        border-radius: 15px;
        width: auto;
        box-shadow: 0 2px 6px #B9D9EB;
    }

    .firstCompBox {
        margin-left: 5%;
        margin-right: 2.5%;

    }

    .secondCompBox {
        margin-right: 5%;
        margin-left: 2.5%;
    }

    .compBox img {
        margin-top: 20%;
        cursor: pointer;
    }

    #mssdCont {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-top: 14%;
        border-radius: 15px;
        height: 33vw;
        margin-left: 5%;
        width: 42.5%;
        box-shadow: 0 2px 6px #B9D9EB;
    }

    #mssdCont img {
        margin-top: 15%;
        cursor: pointer;
    }

    /* get in touch */
    #mcontactFormLink {
        margin-top: 22%;
        border: 1px solid transparent;
    }

    #mcontactForm {
        margin-top: 15%;
    }

    #mqueryForm {
        margin-top: 8%;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    #mqueryForm input, #mqueryForm textarea {
        border-radius: 25px;
        line-height: 2.5em;
    }

    #mqueryForm textarea {
        line-height: 2em;
    }

    .half {
        width: 46.5%;
    }

    .full {
        width: 98.5%;
    }

    #mformBtn {
        text-align: center;
        padding: 1.5% 5.5%;
        font-size: 1em;
        background-color: #89CFF0;
        border-radius: 8px;
        border-color: #F0F8FF;
        outline: none;
    }

    .inpField {
        border: none;
        outline: none;
        box-shadow: 0 3px 5px #89CFF0;
    }

    .inpField::placeholder {
        color: #9c9c9c;
        font-size: 0.9em;
    }

    /* contact us */
    #mcontactImg {
        margin-top: 20%;
    }

    #mcontactImg img {
        width: 75vw;
    }

    #mcontactInfoLink {
        margin-top: 18%;
        border: 1px solid transparent;
    }

    #mcontactInfo {
        margin-top: 10%;
    }

    a {
        text-decoration: none;
        color: #161617;
    }

    .icon {
        display: flex;
        align-items: center;
    }

    #mcontactText {
        margin-top: 10%;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
    }

    /* google maps */
    #mmaps {
        margin-top: 25%;
        margin-bottom: -1%;
    }

    #mmaps iframe {
        border: none;
        width: 100%;
        height: 60vw;
    }

    /* footer information */
    #mfooterContactUs {
        border: 3px solid transparent;
        position: relative;
        bottom: 0;
        width: 100%;
        height: 40px;
        background-color: #f5f5f5;
        padding-right: 14px;
        z-index: 9999;
    }

    #mfooterContactUs p {
        border: 2px solid transparent;
        color: #8f8f8f;
        text-align: center;
        width: 100%;
        font-size: 0.7em;
    }

    /* close button
    .close {
        position: absolute;
        left: -20%;
        top: 2%;
        cursor: pointer;
        height: 32px;
        width: 32px;
        opacity: 1;
    }

    .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 3px;
        background-color: #m0e8baf;
    }
    .close:before {
        transform: rotate(45deg);
    }
    .close:after {
        transform: rotate(-45deg);
    }
    */

    /* side bar */
    #msidebar {
        position: fixed;
        z-index: 99999;
        right: -100%;
        top: 0;
        background-color: #BCECFB;
        width: 0;
        height: 100%;
        overflow: auto;
        transition: 0.8s;
        border: 2px solid transparent;
    }

    .sidebarLinks {
        font-size: 1.5em;
        margin-left: 6%;
        margin-top: 15%;
    }

    #mcontainer {
        transition: 0.6s;
    }

    #msideClose {
        position: relative;
        font-weight: bold;
        border: 2px solid #0e8baf;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 8px;
        top: 1%;
        right: -75%;
        color: #0e8baf;
    }


    .not-active {
        pointer-events: none;
        cursor: default;
    }

}

