@media only screen and (min-width: 1024px) {
    * {
        font-family: "Montserrat", sans-serif;
        box-sizing: border-box;
    }

    .bold {
        font-weight: bold;
    }


    /* navigation bar */
    #navbar {
        display: flex;
        border-bottom: 5px solid #f5f5f5;
    }

    #links {
        display: inline-flex;
        flex: auto;
        justify-content: flex-end;
        color: #161617;
    }

    #links li:last-child {
        margin-right: 2vw;
    }

    #links li {
        display: inline-block;
        list-style-type: none;
        margin-right: 6vw;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    #links li a:hover {
        position: relative;
        color: #161617;
    }

    #links li a:hover::after {
        content: "";
        height: 2px;
        width: 75%;
        background-color: #0e8baf;
        position: absolute;
        top: 1.5em;
        left: 50%;
        transform: translate(-50%);
    }


   /* body */
   #main {
       display: flex;
       margin-top: 7%;
   }

   #parentComp {
       margin-left: 1%;
       flex: 8%;
   }

   #line {
       flex: 1%;
       height: 250px;
       border-left: 3px solid #14a2cc;
       margin-left: 100px;
       margin-top: 90px;
   }

   #subComp {
       flex: 65%;
   }

   .text {
       text-align: center;
       font-size: 30px;
   }

   .text p {
        display: inline-block;
        position: relative;
   }

   .text p:after {
        content: "";
        height: 2px;
        width: 60%;
        background-color: #14a2cc;
        position: absolute;
        top: 1.3em;
        left: 50%;
        transform: translate(-50%);
    }

    #subCompCont {
        margin-top: 1%;
    }

    #lowerSubComp {
        margin-top: 4%;
    }

    #upperSubComp, #lowerSubComp {
        text-align: center;
        text-align: -webkit-center;
        text-align: -moz-center;
    }

    #upperSubComp a img, #lowerSubComp a img {
        margin-right: 4%;
        margin-left: 4%;
    }


    /* About Us */
    #aboutUS {
        border: 2px solid black;
        margin-top: 12.5%;
        display: flex;
    }

    #aboutUsImg {
        border: 2px solid saddlebrown;
        margin-top: 2%;
        margin-left: 1%;
        flex: 25%;
    }

    #aboutUsCont {
        border: 2px solid red;
        flex: 75%;
        margin-left: 2%;
        margin-right: 2%;
    }

    #aboutUsText {
        border: 2px solid orange;
        text-align: center;
        font-size: 0.8em;
        margin-top: 2%;
    }

    #aboutUsText p {
        color: #808080;
    }




}


